/* body {
  background-color: #fff !important;
}
.css-yiavyu-MuiBackdrop-root-MuiDialog-backdrop {
  filter: blur(200px) !important;
  background-color: white !important;
}
.css-1k0ku3a-MuiPaper-root-MuiDialog-paper {
  border-radius: 22px !important;
} */
